package {{ .PackageName }}

var {{.ProtoName}}ServerOperationGroup = map[string][]string{
    {{- range $index, $element := .GroupFunc }}
    "{{ $index }}": {
        {{- range $element }}
        "{{ .Operation }}",
        {{- end }}
    },
    {{- end }}
}

func Get{{.ProtoName }}ServerOperationByGroup(group string) []string {
	return {{.ProtoName}}ServerOperationGroup[group]
}
